@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #efdfbb;
}

.nav {
  border-radius: 50px;
  background: #efdfbb;
  box-shadow: 20px 20px 60px #cbbe9f, -20px -20px 60px #ffffd7;
}

@layer utilities {
  .rotate-y-360 {
    transform: rotateX(360deg);
  }
}
